.veuse_box {
	
	border: 0px solid transparent;
	padding:20px 30px;
	
	
	/* Preset */
	
	&.white  { background: #fff; }
	&.light  { background: #f4f4f4; }
	&.black  { background: #000; }
	&.dark 	{ background: #181818; }
	
	&.rounded { @include border-radius(3px); }
		
	&.shadow { @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.05));}
	
}